footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #002529;

  .footer-item1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    padding-block: 50px;
  }
  .footer-item1-right {
    max-width: 165px;
    p {
      font-family: Livvic;
      font-size: 15px;
      font-weight: 600;
      line-height: 25px;
      text-align: left;
      color: #ffffff;
    }
  }
  .footer-item-link {
    display: flex;
    align-items: center;
    margin-top: 25px;
    li {
      display: inline-block;
      a {
        font-family: Livvic;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        color: #ffffff;
        text-decoration: none;
        padding-right: 20px;
        transition: 0.5s;
        &:hover {
          color: #000;
        }
      }
    }
  }
}
.footer-item2 {
  text-align: right;
  i {
    color: #ffffff;
    width: 24px;
    height: 24px;
    font-size: 32px;
    cursor: pointer;
    margin-right: 10px;
  }
  p {
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    text-align: right;
    color: #ffffff;
  }
}

@media screen and (max-width: 700px) {
  .footer-item1 {
    flex-direction: column;
    margin: auto;
    width: 300px;
    .footer-item1-left {
      margin: auto;
    }
  }
  .footer-item1-right {
    margin: auto;
    margin-top: 20px;
  }
  .footer-item2 {
    text-align: center;
  }
}
